@import url('~bootstrap/css/bootstrap.min.css');
@import url('~bootstrap-icons/bootstrap-icons.min.css');
@import url('~select2/css/select2.min.css');
@import url('~select2-bootstrap/select2-bootstrap-5-theme.min.css');
@import url('~flatpickr/flatpickr.min.css');

.pointer{
    cursor: pointer;
}
